@model List<trnservice.Models.TrnViewModel>
@{
    ViewData["Title"] = "Success";
}

<h1>File Upload</h1>

<h4>TRN Validation Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Success">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="control-label">Upload CSV File</label>
            <input type="file" name="file" accept=".csv" />
            <br/>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


