@model List<trnservice.Models.TrnSearchRequestViewModel>
@{
    ViewData["Title"] = "TRN Validation Service";
}

<h5 class="card-title fw-semibold mb-4">Bulk TRN Validation</h5>
<form method="post" enctype="multipart/form-data" asp-action="Upload">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label class="form-label">Upload CSV File</label>
    <div class="mb-3">
        <input type="file" name="file" accept=".csv" style="margin-bottom: 10px;" />
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>
                                

<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sidebarmenu.js"></script>
<script src="~/js/app.min.js"></script>
<script src="~/libs/simplebar/dist/simplebar.js"></script>